## C++

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VSCODE
.vscode/

# Jetbrains tools
.idea/

# Python cache
__pycache__/

# Sphinx
_build/
.venv

# macOS
.DS_Store


compiler/tests/TestLib/out/
compiler/lib/Bindings/Rust/target/
compiler/lib/Bindings/Rust/Cargo.lock
compiler/tests/end_to_end_fixture/tests_cpu/bug_report.yaml
compiler/tests/end_to_end_fixture/tests_cpu/end_to_end_round.yaml
compiler/tests/end_to_end_fixture/tests_cpu/end_to_end_apply_lookup_table.yaml
compiler/tests/end_to_end_fixture/tests_cpu/end_to_end_leveled.yaml
compiler/tests/end_to_end_fixture/tests_cpu/end_to_end_linalg_apply_lookup_table.yaml

