[submodule "llvm-project"]
	path = third_party/llvm-project
	# .. refers to ssh|https://github.com/zama-ai
	url = ../concrete-compiler-internal-llvm-project.git
	shallow = true
[submodule "lattice-estimator"]
	path = third_party/lattice-estimator
	url = https://github.com/malb/lattice-estimator
[submodule "third_party/tfhe-rs"]
	path = third_party/tfhe-rs
	url = https://github.com/zama-ai/tfhe-rs.git
