## IDE

# VSCODE
.vscode/

# Jetbrains tools
.idea/

# Zed
.zed/

# HPX library
compilers/concrete-compiler/compiler/hpx*

# For tests within ML
tmp_directory_for_cml_tests

# Temp file
frontends/concrete-python/examples/sha1/tmp_sha1_test_file.txt

# Macos files
**/.DS_Store
