[submodule "llvm-project"]
	path = llvm-project
	url = git@github.com:zama-ai/concrete-compiler-internal-llvm-project.git
[submodule "compiler/concrete-optimizer"]
	path = compiler/concrete-optimizer
	url = git@github.com:zama-ai/concrete-optimizer.git
[submodule "google-benchmark"]
	path = google-benchmark
	url = https://github.com/google/benchmark
