pybind11==2.10.4

pytest-cov==4.0.0
pytest-randomly==3.15.0
pytest-xdist==3.2.1
pytest==7.2.2

black==24.4.0
isort==5.12.0

mypy==1.10.0
pydocstyle==6.3.0
pylint==2.17.1
ruff==0.6.3

auditwheel==6.3.0; sys_platform == 'linux'
delocate==0.10.4; sys_platform == 'darwin'
wheel==0.40.0

py-progress-tracker==0.7.0

linkcheckmd>=1.4.0
linkchecker>=10.3.0
mistletoe>=0.9.0

pygame>=2.6.0
notebook>=7.2.2
