# Build dirs
build*/

*.mlir.script
*.lit_test_times.txt

# core ffi artifacts
concrete-core-ffi*

# Test-generated artifacts
concrete-compiler_compilation_artifacts/
py_test_lib_compile_and_run_custom_perror/
tests/end_to_end_fixture/end_to_end_linalg_apply_lookup_table.yaml
tests/end_to_end_fixture/end_to_end_linalg_leveled.yaml
tests/end_to_end_fixture/end_to_end_linalg_2_apply_lookup_table.yaml
tests/end_to_end_fixture/bug_report.yaml
