[backend.aws.cpu-test]
region = "eu-west-1"
image_id = "ami-002bdcd64b8472cf9" # Based on Ubuntu 22.4
instance_type = "m7i.16xlarge"
security_group = ["sg-0e55cc31dfda0d8a7", ]

[backend.aws.cpu-bench]
region = "eu-west-3"
image_id = "ami-0d87d688748d653f7" # Based on Ubuntu 24.04
instance_type = "hpc7a.96xlarge"

[backend.aws.gpu-test]
region = "us-east-1"
image_id = "ami-0257c6ad39f902b5e"
instance_type = "p3.8xlarge"
subnet_id = "subnet-8123c9e7"
security_group= ["sg-017afab1f328af917", ]

[backend.aws.slurm-cluster]
region = "eu-west-3"
image_id = "ami-0bb5bb9cb747b5ddd"
instance_id = "i-0e5ae2a14134d6275"
instance_type = "m6i.8xlarge"
security_group= ["sg-02dd8470fa845f31b", ]
runner_name = "distributed-ci"

[backend.aws.release]
region = "eu-west-1"
image_id = "ami-002bdcd64b8472cf9"
instance_type = "hpc7a.96xlarge"
