[profile.m7i-cpu-bench]
region = "eu-west-1"
image_id = "ami-002bdcd64b8472cf9" # Based on Ubuntu 22.4
instance_type = "m7i.48xlarge"

[profile.m7i-cpu-test]
region = "eu-west-1"
image_id = "ami-002bdcd64b8472cf9"
instance_type = "m7i.16xlarge"

[profile.m7i-metal]
region = "eu-west-1"
image_id = "ami-002bdcd64b8472cf9"
instance_type = "m7i.metal-24xl"

[profile.gpu-bench]
region = "us-east-1"
image_id = "ami-08e27480d79e82238"
instance_type = "p3.2xlarge"
subnet_id = "subnet-8123c9e7"
security_group= ["sg-0f8b52622a2669491", ]

# Docker is well configured for test inside docker in this AMI
[profile.gpu-test]
region = "us-east-1"
image_id = "ami-0c4773f5626d919b6"
instance_type = "p3.2xlarge"
subnet_id = "subnet-8123c9e7"
security_group= ["sg-0f8b52622a2669491", ]

#################################################
# Compiler commands
#################################################

[command.compiler-cpu-build]
workflow = "compiler_build_and_test_cpu.yml"
profile = "m7i-cpu-test"
check_run_name = "Compiler Build and Test (CPU)"

[command.compiler-gpu-build]
workflow = "compiler_build_and_test_gpu.yml"
profile = "gpu-test"
check_run_name = "Compiler Build and Test (GPU)"

[command.compiler-cpu-benchmark]
workflow = "compiler_benchmark.yml"
profile = "m7i-cpu-bench"
check_run_name = "Compiler Performances Benchmarks (CPU)"

[command.compiler-gpu-benchmark]
workflow = "compiler_benchmark.yml"
profile = "gpu-bench"
check_run_name = "Compiler Performances Benchmarks (GPU)"

# Trigger Docker images build
[command.compiler-publish-docker-images]
workflow = "compiler_publish_docker_images.yml"
profile = "m7i-cpu-test"
check_run_name = "Compiler - Docker images build & publish"

# Trigger ML benchmarks by running each use cases subset in parallel.
[command.ml-bench]
workflow = "ml_benchmark_subset.yml"
profile = "m7i-cpu-bench"
matrix = [0,1,2,3,4,5,6,7,8,9,10]
max_parallel_jobs = 2

# Trigger ML tests with latest CP
[command.ml-test]
workflow = "concrete_ml_tests.yml"
profile = "m7i-cpu-test"
check_run_name = "Concrete ML Tests"

#################################################
# Concrete Python Commands
#################################################

[command.concrete-python-tests-linux]
workflow = "concrete_python_tests_linux.yml"
profile = "m7i-cpu-test"
check_run_name = "Concrete Python Tests (Linux)"

[command.concrete-python-tests-linux-gpu]
workflow = "concrete_python_tests_linux.yml"
profile = "gpu-test"
check_run_name = "Concrete Python Tests (Linux Gpu)"

#################################################
# Release Commands
#################################################

[command.concrete-python-release]
workflow = "concrete_python_release.yml"
profile = "m7i-cpu-test"
check_run_name = "Concrete Python Release"
