# Compile and test project on an AWS instance
name: AWS tests

on: 
  pull_request:
    types: [ labeled ]
    branches: 
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  start-runner:
    if: "contains(github.event.label.name, 'aws_test')"
    name: Start EC2 runner
    runs-on: ubuntu-20.04
    outputs:
      label: ${{ steps.start-ec2-runner.outputs.label }}
      ec2-instance-id: ${{ steps.start-ec2-runner.outputs.ec2-instance-id }}
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_IAM_ID }}
          aws-secret-access-key: ${{ secrets.AWS_IAM_KEY }}
          aws-region: us-east-1
      - name: Start EC2 runner
        id: start-ec2-runner
        uses: machulav/ec2-github-runner@v2
        with:
          mode: start
          github-token: ${{ secrets.CONCRETE_ACTIONS_TOKEN }}
          ec2-image-id: ami-016cd2805f00564a5
          ec2-instance-type: m5n.2xlarge
          subnet-id: subnet-da319dd4
          security-group-id: sg-064a7184f24469c76

  run-tests-linux:
    concurrency:
      group: ${{ github.head_ref }}
      cancel-in-progress: true
    name: Test code in EC2
    needs: start-runner
    runs-on: ${{ needs.start-runner.outputs.label }}
    strategy:
      fail-fast: false
      # explicit include-based build matrix, of known valid options
      matrix:
        include:
          - os: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: Set up home
      if: ${{ !cancelled() }}
      run: |
        echo "HOME=/home/ubuntu" >> "${GITHUB_ENV}"
    - name: Install Rust
      if: ${{ !cancelled() }}
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        override: true
    - name: Run concrete tests
      if: ${{ !cancelled() }}
      run: cargo xtask test

  stop-runner:
    name: Stop EC2 runner
    needs:
      - start-runner
      - run-tests-linux
    runs-on: ubuntu-20.04
    if: ${{ always() && (needs.start-runner.result != 'skipped') }}
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_IAM_ID }}
          aws-secret-access-key: ${{ secrets.AWS_IAM_KEY }}
          aws-region: us-east-1
      - name: Stop EC2 runner
        uses: machulav/ec2-github-runner@v2
        with:
          github-token: ${{ secrets.CONCRETE_ACTIONS_TOKEN }}
          label: ${{ needs.start-runner.outputs.label }}
          ec2-instance-id: ${{ needs.start-runner.outputs.ec2-instance-id }}
          mode: stop
  remove_label:
    name: Remove aws_test label
    runs-on: ubuntu-latest
    needs:
      - start-runner
      - run-tests-linux
      - stop-runner
    if: ${{ always() }}
    steps:
      - uses: actions-ecosystem/action-remove-labels@v1
        with:
          labels: aws_test
          github_token: ${{ secrets.GITHUB_TOKEN }}
