name: Build benches

on: 
  pull_request:

env:
  CARGO_TERM_COLOR: always

concurrency: 
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build benches
        if: ${{ !cancelled() }}
        run: cargo xtask build_benches
