name: Concrete CPU - Tests

on:
  workflow_call:
  workflow_dispatch:

concurrency:
  group: concrete_cpu_test-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

env:
  CARGO_TERM_COLOR: always
jobs:
  tests-linux:
    runs-on: ubuntu-20.04
    env:
      RUSTFLAGS: -D warnings
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: Rust install
        uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af # v1.0.7
        with:
          toolchain: nightly-2024-09-30
          override: true
          components: rustfmt, clippy

      - name: Download cargo cache
        uses: Swatinem/rust-cache@82a92a6e8fbeee089604da2575dc567ae9ddeaab # v2.7.5

      - name: Formatting
        run: |
          cd backends/concrete-cpu/implementation
          cargo fmt --check

      - name: Remove header to force regeneration
        run: |
          cd backends/concrete-cpu/implementation
          rm include/concrete-cpu.h

      - name: Build
        run: |
          cd backends/concrete-cpu/implementation
          cargo build --all-targets

      - name: Check regenerated header is unchanged
        run: |
          cd backends/concrete-cpu/implementation
          git diff --exit-code

      - name: Lint
        run: |
          cd backends/concrete-cpu/implementation
          cargo +stable clippy --all-targets

      - name: Tests
        run: |
          cd backends/concrete-cpu/implementation
          cargo test --no-fail-fast --all-targets --features=nightly

  tests-mac_x86:
    runs-on: macos-11
    env:
      RUSTFLAGS: -D warnings
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: Setup rust toolchain for concrete-cpu
        uses: ./.github/workflows/setup_rust_toolchain_for_concrete_cpu

      - name: Download cargo cache
        uses: Swatinem/rust-cache@82a92a6e8fbeee089604da2575dc567ae9ddeaab # v2.7.5

      - name: Tests
        run: |
          cd backends/concrete-cpu/implementation
          cargo test --no-fail-fast --all-targets

  tests-mac-m1:
    runs-on: "aws-mac2-metal"
    env:
      RUSTFLAGS: -D warnings
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: Setup rust toolchain for concrete-cpu
        uses: ./.github/workflows/setup_rust_toolchain_for_concrete_cpu

      - name: Download cargo cache
        uses: Swatinem/rust-cache@82a92a6e8fbeee089604da2575dc567ae9ddeaab # v2.7.5

      - name: Tests
        run: |
          cd backends/concrete-cpu/implementation
          cargo test --no-fail-fast --all-targets
