name: concrete-python tests (linux)

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - 'main'
      - 'release/*'
env:
  DOCKER_IMAGE_TEST: ghcr.io/zama-ai/concrete-compiler

jobs:
  setup-instance:
    name: Setup Instance
    runs-on: ubuntu-latest
    outputs:
      runner-name: ${{ steps.start-instance.outputs.label }}
    steps:
      - name: Start instance
        id: start-instance
        uses: zama-ai/slab-github-runner@447a2d0fd2d1a9d647aa0d0723a6e9255372f261
        with:
          mode: start
          github-token: ${{ secrets.SLAB_ACTION_TOKEN }}
          slab-url: ${{ secrets.SLAB_BASE_URL }}
          job-secret: ${{ secrets.JOB_SECRET }}
          backend: aws
          profile: m7i-cpu-bench
  concrete-compiler-build-python-bindings:
    name: Build concrete-compiler python bindings
    needs: setup-instance
    runs-on: ${{ needs.setup-instance.outputs.runner-name }}
    steps:
      - name: Checkout concrete
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          submodules: recursive
          fetch-depth: 0
      - name: Create concrete build directory
        run: mkdir build
      - name: Build concrete-compiler python bindings
        uses: addnab/docker-run-action@4f65fabd2431ebc8d299f8e5a018d79a769ae185 # v3
        id: build-compiler-bindings
        with:
          registry: ghcr.io
          image: ${{ env.DOCKER_IMAGE_TEST }}
          username: ${{ secrets.GHCR_LOGIN }}
          password: ${{ secrets.GHCR_PASSWORD }}
          options: >-
            -v ${{ github.workspace }}:/concrete
            -v ${{ github.workspace }}/build:/build
          shell: bash
          run: |
            set -e

            rustup toolchain install nightly-2024-09-30
            dnf -y install graphviz graphviz-devel

            rm -rf /build/*

            cd /concrete/frontends/concrete-python
            make venv
            source .venv/bin/activate

            cd /concrete/compilers/concrete-compiler/compiler
            make BUILD_DIR=/build DATAFLOW_EXECUTION_ENABLED=ON CCACHE=ON Python3_EXECUTABLE=$(which python3) python-bindings

            echo "Debug: ccache statistics (after the build):"
            ccache -s
      - name: Upload concrete-compiler python-bindings
        uses: actions/upload-artifact@50769540e7f4bd5e21e526ee35c689e35e0d6874 # v4.4.0
        with:
          name: concrete-compiler-python-bindings
          retention-days: 3
          path: |
            build/lib/libConcretelangRuntime.so
            build/tools/concretelang/python_packages/concretelang_core/
  concrete-python-test-pytest:
    name: Test concrete-python pytest
    needs: [setup-instance, concrete-compiler-build-python-bindings]
    runs-on: ${{ needs.setup-instance.outputs.runner-name }}
    steps:
      - name: Download concrete-compiler python-bindings
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
          name: concrete-compiler-python-bindings
          path: /compiler-artifacts-pytest
      - name: Prepare test environment
        run: |
          cd frontends/concrete-python
          make venv
      - name: Test pytest
        run: |
          set -e
          export COMPILER_BUILD_DIRECTORY=/compiler-artifacts-pytest
          cd frontends/concrete-python
          source .venv/bin/activate
          export KEY_CACHE_DIRECTORY=./key-set-cache
          mkdir $KEY_CACHE_DIRECTORY
          make pytest
  concrete-python-test-notebooks:
    name: Test concrete-python notebooks
    needs: [setup-instance, concrete-compiler-build-python-bindings]
    runs-on: ${{ needs.setup-instance.outputs.runner-name }}
    steps:
      - name: Download concrete-compiler python-bindings
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
          name: concrete-compiler-python-bindings
          path: /compiler-artifacts-notebooks
      - name: Prepare test environment
        run: |
          cd frontends/concrete-python
          make venv
      - name: Test pytest
        run: |
          set -e
          export COMPILER_BUILD_DIRECTORY=/compiler-artifacts-notebooks
          cd frontends/concrete-python
          source .venv/bin/activate
          make test-notebooks
  teardown-instance:
    name: Teardown instance
    if: ${{ always() && needs.setup-instance.result != 'skipped' }}
    needs: [ setup-instance, concrete-python-test-pytest ]
    runs-on: ubuntu-latest
    steps:
      - name: Stop instance
        id: stop-instance
        uses: zama-ai/slab-github-runner@c0e7168795bd78f61f61146951ed9d0c73c9b701
        with:
          mode: stop
          github-token: ${{ secrets.SLAB_ACTION_TOKEN }}
          slab-url: ${{ secrets.SLAB_BASE_URL }}
          job-secret: ${{ secrets.JOB_SECRET }}
          label: ${{ needs.setup-instance.outputs.runner-name }}

      - name: Slack Notification
        if: ${{ failure() }}
        continue-on-error: true
        uses: rtCamp/action-slack-notify@4e5fb42d249be6a45a298f3c9543b111b02f7907
        env:
          SLACK_COLOR: ${{ job.status }}
          SLACK_MESSAGE: "Instance teardown finished with status: ${{ job.status }}. (${{ env.ACTION_RUN_URL }})"