# This job is the main jobs will dispatch build and test for every modules of our mono repo.
name: Linelint

on:
  pull_request:
  push:
    branches:
      - 'main'

jobs:
  linelint:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - name: Linelint
        uses: fernandrone/linelint@0.0.4
        id: linelint
